@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 255 255 255;
    --fg: 17 24 39;
    --muted: 107 114 128;
  }

  html, body, #root {
    height: 100%;
  }

  body {
    @apply min-h-screen;
    background-color: rgb(var(--bg));
    color: rgb(var(--fg));
    background-image: radial-gradient(rgba(0,0,0,0.02) 1px, transparent 1px);
    background-size: 12px 12px;
  }

  a {
    @apply text-blue-600 hover:text-blue-700 underline underline-offset-4;
  }
}
